.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  //background: linear-gradient(#2c1a72, #620b76, #340c8e);
  background: linear-gradient(#1a1e53, #4b2176, #131036);
}

.subNavigation {
  display: inline-flex;
  margin-bottom: 22px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.09);
  border-radius: 8px;
  margin-left: -16px;
  padding: 8px 16px;
  margin-top: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  p {
    color: #188ad9;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
    &:hover {
      color: #54a8e3 !important;
    }
  }
  span {
    margin: 0 12px;
    color: rgba(255, 255, 255, 0.49);
    font-size: 12px;
    cursor: default;
  }
  &__selected {
    color: #99cdf1 !important;
  }
}

.recommendationsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //align-items: center;
  width: 80%;
  max-width: 1800px;
  margin-bottom: 64px;

  @media (max-width: 520px) {
    //padding: 0 16px;
  }
}

.recommendationRowWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 22px;
}

.keenSlider {
  width: 100%;
  height: 300px;
  border: 1px solid red;
  color: white;
}
