.root {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  height: 100px;
  align-self: start;
  color: white;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 1800px;
}

.content {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 8px;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cachedButtonWrapper {
  //justify-self: end;
  justify-self: end;
}

.switchWrapper {
  display: inline-flex;
  align-items: center;
}

.logo {
  justify-self: start;
  color: #c748ae;
  width: 100%;
  background: linear-gradient(20deg, #9a42e3 0%, #3f75ff 80%, #9a9af6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.settingsWrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 12px;
  grid-template-columns: auto auto;
  justify-items: end;
}

.switch {
  [class*='thumb'] {
    background: linear-gradient(#c956ff, #af00ff);
  }
  [class*='track'] {
    background: #3c0044;
    opacity: 1;
  }
}
